* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Urbanist';
    line-height: 1.5;
    color: aliceblue;
    background-color: black;
}

header {
    width: 100%;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 10px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20rem;
    padding: 0 2rem;
    flex-wrap:wrap;
}

.nav-list {
    display: flex;
    gap: 15rem;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.nav-list li a {
    color: white;
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
}
.section-wrapper {
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 96px;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    background: black;
}
.section-1 {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 1260px;
    aspect-ratio: 16/9;

    border: 5px solid rgba(160, 201, 151);
    border-radius: 32px;

    background: black;
    overflow: hidden;
}

.container-1 {
    position: relative;
    z-index: 5;
    padding: clamp(32px, 5vw, 64px);
    max-width: 700px;
    margin-left: 0;
    padding-top: 30;
}

.Header-1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    color: white;
    line-height: 1.1;
    font-size: 3rem;
}

.Text {
    margin-top: 16px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 1.4;
    font-size: 1.75rem;
}

.energy-circles {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.circle {
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 5px solid rgba(160, 201, 151);

    top: auto;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.circle-1 {width: 90%;}
.circle-2 {width: 80%;}
.circle-3 {width: 70%;}
.circle-4 {width: 55%;}
.circle-5 {width: 43%;}

.center {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 45%;
    width: 45%;
}

.center img {
    display: block;
    width: 100%;
    height: auto;
}




.section-2 {
    position: relative;
    width: 100%;
    max-width: 1200px;

    background: black;
    overflow: hidden;

    padding-bottom: 10%;
    padding-top: 120px;
}
.container-2 {
    padding-left: 23%;
    position: relative;
    z-index: 5;
    max-width: 700px;
}


.section-2 .Header-2 {
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    line-height: 1.1;
    font-size: 2.5rem;
}

.containers-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    padding-left: 22%;
    padding-top: 5%;

    max-width: 1400px;
    margin-right: auto;
}

.container-3 {
    width: 200px;
}

.container-3 img {
    max-width: 210px;
    margin-bottom: 48px;
}

.container-3 .Header-3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 72px;
    text-align: left;
    padding-left: 10%;
}

.container-3 .text-1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 200px;
    text-align: left;
    padding-left: 10%;
    font-weight: 300;
}

.container-4 {
    width: 220px;
}

.container-4 img {
    max-width: 150px;
    margin-bottom: 40px;
}

.container-4 .Header-3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 73px;
    text-align: left;
}

.container-4 .text-1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 180px;
    text-align: left;
    font-weight: 300;
}

.container-5 {
    width: 200px;
}

.container-5 img {
    max-width: 100px;
    margin-bottom: 30px;
}

.container-5 .Header-3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 30px;
    text-align: left;
}

.container-5 .text-1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 170px;
    text-align: left;
    font-weight: 300;
}

.section-3 {
    padding: 0px 24px 80px;
    background: black;
}

.energy-card {
    max-width: 1050px;
    margin: 0 auto;
    padding: 64px 72px 80px 96px;
    border-radius: 48px;

    background: linear-gradient(135deg,
            #e7f8dd 0%,
            #c7e3b6 45%,
            #b7d7a4 100%);
}

.section-3 .Header-2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.1;
    color: #000;
    margin-bottom: 56px;
}

.chart-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 32px;
}

.chart-area {
    flex: 1;
    position: relative;
    height: 260px;
    padding-left: 32px;
    padding-bottom: 32px;
}


.lightning-axis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 260px;
}

.lightning-group {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.lightning {
    width: 24px;
    height: 24px;
}

.chart {
    display: flex;
    height: 260px;
    position: relative;
}

.chart::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        repeating-linear-gradient(to top,
            rgba(0, 0, 0, 0.15) 0px,
            rgba(0, 0, 0, 0.15) 1px,
            transparent 1px,
            transparent 52px);
    pointer-events: none;
}

.bar-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}


.bar {
    width: 6px;
    height: var(--value);
    background: black;
    position: relative;
    border-radius: 3px;
}

.bar::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 18px;
    height: 18px;
    background: black;
    transform: translateX(-50%) rotate(45deg);
}

.bar.down::after {
    transform: translateX(-50%) rotate(0deg);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.chart-axes {
    position: absolute;
    left: 32px;
    bottom: 0;
    width: calc(100% - 32px);
    height: 260px;
    pointer-events: none;
}

.chart-axes::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 4px;
    height: 100%;
    background: black;
    left: 0;
}

.chart-axes::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: black;
}

.chart-axes .cap {
    position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
}

.chart-axes .cap.top {
    left: -8px;
    top: -8px;
}

.chart-axes .cap.right {
    right: -8px;
    bottom: -8px;
}

.chart-axis {
    display: flex;
    gap: 42px;
    margin-top: 16px;
    padding-left: 145px;
    font-size: 14px;
    color: black;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    background: rgb(45, 45, 45);
    padding: 0 0;
    margin-top: 0;
    margin-bottom: 32px;
}

.marquee-text {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.section-5 {
    text-align: left;
    padding: 60px 24px;
}

.section-5 .Header-3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    line-height: 1.1;
    margin-bottom: 40px;
    color: white;

    padding-left: 23%;
    position: relative;
    z-index: 5;
    max-width: 500px;
}

.perfume-row {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.perfume-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.perfume-item img {
    max-width: 100%;
    margin-bottom: 16px;
}

.perfume-item p {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.15rem;
    font-weight: 300;
    text-align: left;
    margin: 0;
    max-width: 150px;
    padding-left: 15px;
}