@font-face {
    font-family: 'Urbanist';
    src: url(fonts/Urbanist-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url(fonts/Urbanist-Medium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url(fonts/Urbanist-Bold.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Urbanist';
    src: url(/fonts/Urbanist-ExtraLight.woff2) format(woff2);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Urbanist';
    src: url(fonts/Urbanist-Light.woff2) format(woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Urbanist';
    src: url(fonts/Urbanist-Black.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Urbanist';
    src: url(fonts/Urbanist-SemiBold.woff2) format(woff2);
    font-weight: 550;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Urbanist';
    src: url(fonts/Urbanist-Thin.woff2) format(woff2);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0;
    background-color: #000;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}